<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default"><i class="fa fa-search"></i></button>
      </span>
        <input type="text" class="form-control" placeholder="Search for ..." ng-model="searchText">
    </div>
  </div>
</div>

<h3>Pins</h3>
<div ng-repeat="pin in pins">
  <!-- <img src={{p=}} alt=""> -->
  <div class="panel panel-default">
      <div class="panel-body">
      <div class="row">{{pin.title}}</div>
      <div class="row" ><img style="height: 100px; width:100px;" src="{{pin.url}}"></img></div>
      <div class="row">{{pin.boardid}}</div>
         <div class="col-xs-1"><button class="btn btn-danger fa fa-trash-o" ng-click="deletePin(pin.id)"></button></div>
      </div>
  </div>
</div>

<div>
        <button class="btn btn-warning" ng-click="revealNewPin()"> + Create New Pin + </button>
    <div class="newPinForm" ng-show="newPinRevealer">
        <h3>Create New Pin</h3>
        <form>
            <div class="form-group">
            <label>New Pin Name</label>
            <input type="text" class="form-control" placeholder="New Pin Name" ng-model="newPin.title">
            </div>
             <div class="form-group">
            <label>New Pin Board</label>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Boards
                <span class="caret"></span></button>
                 <select ng-model="board.title" ng-options="board as board.title for board in boards">
                 <!-- <option value="">Select a Board</option> -->
                 </select>
            </div>
        </form>
    </div>
   </div>
</div>
